/logs/
/*setup_*.properties
/*_setup*.properties
/xsd/
/bin/
/lib/
/.settings/
/.classpath
/.project
/example_dataset/
/target/
/matplotlib/
/DmDv_setup_light.properties
/ProtClusterQuant.iml
/*.params
/*.log
/SanXot/
/networks_Generation.bat
/networks_Generation_CFBE.bat
/networks_Generation_DmDv.bat
/networks_Generation_FIbulin_IDs.bat
